# Ignore everything,
#*

# Whitelist Python modules
!genai_detection/**
!poetry.lock
!pyproject.toml
!README.md
!setup.py
!setup.cfg

# Ignore Python byte files
**/__pycache__/
**/*.py[cod]

.venv/
results/
.github/
.git/
.idea/